<!DOCTYPE html>
<html>
<head>
  <title>About - <%= appName %></title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <h1>About <%= appName %></h1>
  <p>This application helps users track their fitness achievements.</p>
  <p>This allows them to visualize their progress and motivate themselves.</p>
  <p>It was built using Node.js, Express, and EJS templates.</p>

  <!-- Back to Home button-->
   <a href="/" class="nav-btn">Back to Home</a>
</body>
</html>