<!DOCTYPE html>
<html>
<head>
  <title><%= appName %></title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <h1>Welcome to <%= appName %>!</h1>
  <p>Here you'll see the links to our pages!</p>

  <!-- Button links-->
  <a href="/about" class="nav-btn">About</a>
  <a href="/gear/list" class="nav-btn">Our Gym Gear</a>
  <a href="/gear/bargain-list" class="nav-btn">Our Bargain Gym Gear</a>
  <a href="/gear/search" class="nav-btn">Search For Gym Gear</a>
  <a href="/achievements/add" class="nav-btn">➕ Add Achievement</a>
  <a href="/achievements/show" class="nav-btn">Show Achievements</a>
  <a href="/weather" class="nav-btn">Check the Weahter</a>
  <a href="/register" class="nav-btn">Register</a>
  <a href="/users/login" class="nav-btn">Login</a>
  <a href="/users/logout" class="nav-btn">Logout</a>
</body>
</html>